.route-item {
  text-decoration: none;
  color: gray;
  margin: 0 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
.route-item:hover {
  background-color: blueviolet;
  color: white;
}
.site-logo {
  width: 30px;
  height: 30px;
}
